altgraph==0.17.4
ansicon==1.89.0
appdirs==1.4.4
auto-py-to-exe==2.42.0
beautifulsoup4==4.12.2
blessed==1.20.0
bottle==0.12.25
bottle-websocket==0.2.9
bpython==0.24
bs4==0.0.1
build==1.0.3
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
command2img @ file:///C:/Compartilhados/Projetos/command2img
contourpy==1.2.0
curtsies==0.4.2
cwcwidth==0.1.9
cycler==0.12.1
docutils==0.20.1
Eel==0.16.0
fonttools==4.47.0
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
graphviz==0.20.1
greenlet==3.0.3
idna==3.6
importlib-metadata==7.0.1
jaraco.classes==3.3.1
jedi==0.19.1
jinxed==1.2.1
keyring==24.3.0
kiwisolver==1.4.5
lxml==5.1.0
markdown-it-py==3.0.0
matplotlib==3.8.2
mdurl==0.1.2
more-itertools==10.2.0
nh3==0.2.15
numpy==1.26.2
packaging==23.2
pandas==2.1.4
parso==0.8.3
pefile==2023.2.7
Pillow==9.5.0
pip-search==0.0.12
pkginfo==1.9.6
prompt-toolkit==3.0.43
ptpython==3.0.25
pycparser==2.21
Pygments==2.17.2
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
pyparsing==3.1.1
pyproject_hooks==1.0.0
PyQt6==6.4.2
pyqt6-plugins==6.4.2.2.3
PyQt6-Qt6==6.4.3
PyQt6-sip==13.6.0
pyqt6-tools==6.4.2.3.3
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pywin32-ctypes==0.2.2
pyxdg==0.28
qt6-applications==6.4.3.2.3
qt6-tools==6.4.3.1.3
readme-renderer==42.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.0
six==1.16.0
soupsieve==2.5
termplotlib==0.3.9
tk==0.1.0
twine==5.0.0
tzdata==2023.4
urllib3==2.1.0
wcwidth==0.2.13
whichcraft==0.6.1
windows-curses==2.3.2
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
